DATABASE_URL= 
SECRET_KEY=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=
CHARGE_SHEET_CC_EMAIL=
GOOGLE_APPS_SCRIPT_URL=
GOOGLE_APPS_SCRIPT_TOKEN=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_INITIAL_PASSWORD=
ARCHIVE_DIR=
PAYMENT_PROOF_DIR=
