DATABASE_URL= 
SECRET_KEY=
SECURE_COOKIES=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=
CHARGE_SHEET_CC_EMAIL=
GOOGLE_APPS_SCRIPT_URL=
GOOGLE_APPS_SCRIPT_TOKEN=
GITHUB_TOKEN=
GITHUB_REPOSITORY=cryo-accem/Cryo-2.0
GITHUB_BRANCH=main
